nav{
    text-align:center;
    background-color: #AFA778
    
  }
  .menu>li{
      display:inline-block ; /* met les "li" en ligne */
      margin:5px;
  }
  .menu>li>a{
      display:inline-block ;
      text-decoration:none;
      color:rgba(0,0,0,0.5);
      padding:10px;
      font-size:1.5em;
  }
  .menu>li:hover{
      border-bottom: 4px solid #39c;/* ajouter une bordure de bas de
      couleur blue au survol de la souris */
  }
  .services{
      position:relative; /* pour positionner le sous menu 
      par rapport à son parent"services" */
  }
  .sous-menu{
      list-style-type:none;
      position: absolute; 
      left:0;
      width:100%;
      max-height:0;/*  pour cacher le sous menu */
      overflow:hidden; /* pour cacher le contenu de sous menu */
      transition:max-height 0,5s ease; /* transition appliquée sur
  max-height	la propriéte  */
      padding:0;
      margin:5px 0;
  }
  .services:hover>.sous-menu{
      max-height:150px; /* pour afficher le menu aprés le "hover" */
  }
  .sous-menu>li{
      text-align:center;	
      background-color:#777;
      line-height:1em;
      font-size:1em;
      padding:5px 0;
      border:1px #fff solid;
      
  }
  .sous-menu>li>a{
      text-decoration:none;
      display:inline-block ;
      width:100%;
      color:#fff;
  }
  .sous-menu>li:hover{
      background:#39c;
  }